# PostgreSQL Configuration
POSTGRES_USER=shallabuf
POSTGRES_PASSWORD=secret
POSTGRES_DB=shallabuf
POSTGRES_HOST=localhost
POSTGRES_PORT=30432
DATABASE_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_HOST}:${POSTGRES_PORT}/${POSTGRES_DB}
MAX_CONNECTIONS=1024

# NATS Configuration
NATS_PORT=30422
NATS_URL=nats://localhost:${NATS_PORT}

# Redis Configuration
REDIS_PORT=30637
REDIS_URL=redis://localhost:${REDIS_PORT}

# MinIO Configuration
MINIO_PORT=30900
MINIO_CONSOLE_PORT=30901
MINIO_ENDPOINT=http://localhost:${MINIO_PORT}
MINIO_ROOT_USER=minio
MINIO_ROOT_PASSWORD=minioadmin
MINIO_ACCESS_KEY=
MINIO_SECRET_KEY=

# Loki Configuration
LOKI_PORT=3100
LOKI_URL=http://localhost:${LOKI_PORT}

# Prometheus Configuration
PROMETHEUS_PORT=30090

# Grafana Configuration
GRAFANA_PORT=30001
GRAFANA_ADMIN_PASSWORD=admin

# Rust Configuration
RUST_LOG=DEBUG
RUST_ENV=dev

# Services
AUTH_SERVICE_PORT=50051
AUTH_LISTEN_ADDR=0.0.0.0:${AUTH_SERVICE_PORT}
AUTH_SESSION_DURATION_MINUTES=30
