# ServerConfig
SERVER_HOST=0.0.0.0
SERVER_PORT=8080
SERVER_HANDSHAKE_TIMEOUT_SECS=10
SERVER_SEND_TIMEOUT_SECS=10
SERVER_CLOSE_TIMEOUT_SECS=1

RUST_LOG=debug
NATS_URL=nats://localhost:4222

# secrets
REDIS_URL=redis://localhost:6379
JWT_SECRET=your-secret-key-here
